.containerTopBar {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  border-radius: 10px;
}

.containerTopBar img {
  height: 100px;
}
