.containerHome {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.containerHome .containerCard {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.loadingStyle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
